body {
  background-color: black;
}

ul{
  list-style: none;
}

.fixed-panel {
  min-height: 800px;
  max-height: 800px;
}

h1 {
  font-size: 100px;
}

.h2 {
  font-size:30px;
  text-align:justify;
  color: white;
}

.p {
  font-size:30px;
  text-align:justify;
  color: white;
  font-family: sans-serif;
}

.main1 {
    position: fixed;
    left:150px; top:0px; right:0px; bottom:0;
    background-color: blue;
}
.main2 {
    position: absolute;
    left:400px; top:0px; right:0; bottom:0;
    background-color: #34A1F0;
}
.main3 {
    position: absolute;
    left:650px; top:0px; right:0; bottom:0;
    background-color: #1525D3;
}
.main4 {
    position: absolute;
    left:900px; top:0px; right:0; bottom:0;
    background-color: black;
}

.vertical-text {
	-webkit-transform: rotate(90deg);
	transform-origin: left top 0;
}
