body {
  background-color: black;
}

.fixed-panel {
  min-height: 800px;
  max-height: 800px;
}

h1 {
  font-size: 100px;
}

.top {
    position:absolute;
    left:0; right:0;
    height: 92px;
}
.left {
    position:fixed;
    left:0; top:0px; bottom: 0;
    width: 100px;
    background-color: white;
}
.main1 {
    position: fixed;
    left:100px; top:0px; right:0; bottom:0;
    background-color: blue;
}
.main2 {
    position: absolute;
    left:178px; top:0px; right:0; bottom:0;
}
.main3 {
    position: absolute;
    left:178px; top:0px; right:0; bottom:0;
}
.main4 {
    position: absolute;
    left:178px; top:0px; right:0; bottom:0;
}

.vertical-text {
	-webkit-transform: rotate(90deg);
	transform-origin: left top 0;
}
